# Temperatura do Quarto
- trigger:
    - platform: state
      entity_id: sensor.termostato_da_suite_temperature
    - platform: time_pattern
      hours: "/1"
    - platform: homeassistant
      event: start
  sensor:
    - name: "Sensação Termica do Quarto"
      unique_id: feels_like_quarto
      unit_of_measurement: "°C"
      state: >
        {% set T = states('sensor.termostato_quarto_temperatura') | float(0) %}
        {% set RH = states('sensor.termostato_quarto_umidade') | float(0) %}
        {% if T >= 27 and RH >= 40 %}
          {% set HI = -8.784695 + (1.61139411 * T) + (2.338549 * RH) - (0.14611605 * T * RH)
            - (0.012308094 * (T**2)) - (0.016424828 * (RH**2)) + (0.002211732 * (T**2) * RH)
            + (0.00072546 * T * (RH**2)) - (0.000003582 * (T**2) * (RH**2)) %}
          {{ HI | round(1) }}
        {% else %}
          {{ T }}
        {% endif %}
      attributes:
        temperatura_real: "{{ states('sensor.termostato_quarto_temperatura') }}"
        umidade: "{{ states('sensor.termostato_quarto_umidade') }}"
